{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Info about the tool</h1>
  <br></br>
  <p>Resume screening helps in scanning and sorting resumes to shortlist the most suitable candidates for any open position. The requirements for the open role are matched with the qualifications listed by the applicants to determine eligibility.

The most common factors that are matched include educational qualification, work experience, competencies, skills and knowledge, and personality traits.

Resume screening is one of the crucial steps of hiring. The recruiters post job ads on different online portals and social media, and the resume of all those individuals who apply for the role are screened. It is generally performed by an HR professional manually or via resume screening software.
</p>
</div>

{% endblock %}
