{% extends "base.html" %}
{% block content %}

    <div class="jumbotron">
        <div align='center'>
            <h1 >Scoring Report</h1>
        </div>
    </div>

    <div class="jumbotron">
        <div align='left'>

            <p><b>Job Title</b></p>
            {{title}}
            <br><br>

            <p><b>Job Description</b></p>
            {{description}}
            <br><br>

            <p><b>Resume Uploaded: </b> {{fileName}} </p>
            <br>

            <p><b>Skills Required: </b> {{relevantSkills}} </p>
            <br>

            <p><b>Primary Skills Required: </b> {{primarySkillsInRelevantSkills}} </p>
            <br>

            <p><b>Secondary Skills Required: </b> {{secondarySkillsInRelevantSkills}} </p>
            <br>

            <p><b>Skills Matched: </b> {{skillsMatched}} </p>
            <br>

            <p><b>Skills Not Matched: </b> {{skillsNotFound}} </p>
            <br>

            <p><b>Profile Status: </b> {{profileStatus}} </p>
            <br>

            <p><b>Points from Profile Match: </b> {{pointsFromProfile}} </p>
            <br>
            
            <p><b>Points from Primary Skills Match: </b> {{pointsFromPrimarySkills}} </p>
            <br>

            <p><b>Points from Secondary Skills Match: </b> {{pointsFromSecondarySkills}} </p>
            <br>            

            <p><b>Total Score: </b> {{matchPercent}} </p>
            <br>

            <p>
              <br><br>
            </p>
            <br>

            <p>The scoring report has been sent to {{emailid}}</p>
        </div>
    </div>

{% endblock content %}
